.class_title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #4a4a4a;
}

.class_code {
    margin-left: 1px;
}

.class_category {
    margin-left: 1px;
    font-size: 0.9rem;
    color: #b8b8b8;
}

.class_description {
    margin-left: 1px;
}

.class_description_item {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 5px;
    margin-top: 5px;
}

.class_review{
    margin-left: 1px;
    margin-top: 5px;
    padding-bottom: 25px;
}